
/***Header***/
.navbar{
    border: #000 solid 2px;
    border-radius: 0px;
}
.navbar-brand h1{
    color: black;
    font-weight: bold;
}
/***Main***/

.nav-item {
    text-align: center;
    font-weight: bold;
}

#body-heading{
    margin-top: 20px;
}
article{
    padding: 10px;
    margin: 20px 0 20px 0;
}
